@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contact Management Web application</h1>
    <p>.NET exercise by Henrique Cardoso for Alfasoft</a>.</p>
</div>
